.checkout-container {
  padding: 120px 0;
}

.arrow-title-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.checkout-title {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-size: 80px;

  color: var(--title-color);
  text-align: center;
  font-style: normal;

  width: 100%;
  align-items: center;
}

.to-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 34px;
  background-color: rgb(49, 31, 9);
  border-radius: 50%;

  width: 50px;
  height: 50px;
}

.to-menu:hover,
.to-menu:active {
  background-color: rgb(49, 31, 9, 0.85);
  transition: 250ms ease;
}

.icon-chevron-left {
  color: #fff;
}

/**=====================*/
/*? ADDRESS-REGISTRATION */
/**=====================*/

.address-registration {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;

  margin-top: 120px;
}

.registr-title {
  font-weight: 500;
  font-size: 30px;

  color: #000;
  line-height: 33px; /* 33px */
}

/*? REGISRTR-FORM-ADDRESS*/

.registr-form-address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  /* width: 100%; */
}

.registr-input::placeholder {
  font-weight: 400;
  font-size: 25px;
  color: #a0978c;
  line-height: 27.5px; /* 27.5px */
}

.registr-input {
  display: block;
  outline: none;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 25px;
  color: #311f09;

  border-radius: 20px;
  padding-left: 80px;
  /* min-width: 860px; */
  width: 100%;
  height: 100px;
  background-color: rgba(208, 204, 199, 0.1);
}

.registr-btn {
  font-weight: 400;
  font-size: 25px;

  color: #fff;
  border-radius: 20px;
  line-height: 38.25px; /* 38.25px */
  padding: 31px 57px;
  background-color: rgba(116, 159, 224, 1);
}

.registr-btn:hover,
.registr-btn:active {
  background-color: rgba(116, 159, 224, 0.85);
  transition: 250ms ease;
}

/**=====================*/
/*? FORM */
/**=====================*/

.data-title {
  font-weight: 500;
  font-size: 30px;

  color: #000;
  line-height: normal;
  margin-bottom: 60px;
  text-align: left;
  /* width: 100%; */
}

.order-form {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  margin-top: 100px;
  /* width: 100%; */
}

.form-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(2, 1fr) 2fr; */
  grid-column-gap: 32px;
  grid-row-gap: 50px;
  width: 100%;
}

.form-data .order-submit {
  grid-column: 1 / -1;
}

.form-data input {
  display: block;
  outline: none;

  font-weight: 400;
  font-size: 25px;
  color: #311f09;

  width: 100%;
  height: 100px;
  background-color: rgba(208, 204, 199, 0.2);
  border-radius: 20px;
  line-height: 27.5px;
  padding-left: 80px;
  width: 100%;
}

#order-data input::placeholder {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 25px;
  color: #a0978c;
  line-height: 27.5px; /* 27.5px */
}

#order-data textarea {
  width: 100%;
  max-height: 280px;
  height: auto;
  resize: none;
  outline: none;

  font-weight: 400;
  font-size: 25px;
  color: #311f09;

  background-color: rgba(208, 204, 199, 0.2);
  border-radius: 20px;
  padding: 60px 80px;
}

#order-data textarea::placeholder {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 25px;
  color: #a0978c;
}

.order-input {
  display: block;
  width: 100%;
}

.phone-input {
  position: relative;
}

/* .phone-arrow {
  position: absolute;
  top: 50px;
  left: 130px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
  transform: rotate(180deg);
  z-index: 10;
} */

#coutry-code {
  position: absolute;
  display: block;
  outline: none;
  /* appearance: none; */

  left: 15px;
  top: 24px;
  font-size: 25px;
  color: #311f09;
  background-color: #fff;
  padding: 11px 0 11px 43px;
  width: 150px;
}

#phone {
  padding-left: 200px;
}

/**=====================*/
/*? OPTIONS-SECTION */
/**=====================*/

.options-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-top: 100px;
}

.filters-order {
  width: 100%;
}

.radio-chek-box input[type="radio"] {
  width: 44px;
  height: 44px;
  accent-color: #3fa72f;
}

.options-order {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  /* width: 100%; */
}

.radio-chek-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.options-title {
  font-weight: 500;
  font-size: 30px;
  color: #000;
  line-height: 33px; /* 33px */

  margin-bottom: 63px;
}

.checkbox-title {
  font-weight: 400;
  font-size: 25px;
  color: #311f09;
  line-height: normal;
}

#order-time-dropdown {
  background: none;

  outline: none;
  position: relative;

  font-weight: 400;
  font-size: 25px;
  color: #311f09;
  line-height: normal;

  padding-right: 20px;
}

#order-time-dropdown select {
  cursor: pointer;
}

/*? filters-method */

.filters-method {
  margin-top: 100px;
  width: 100%;

  margin-bottom: 103px;
}
.order-method {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 111px;
}

.order-method input[type="radio"] {
  width: 44px;
  height: 44px;
  accent-color: #3fa72f;
}

.method-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

#order-delivery {
}

.method-title {
  font-weight: 500;
  font-size: 30px;
  color: #000;
  line-height: 33px; /* 33px */

  margin-bottom: 33px;
}

.label-title {
  font-weight: 400;
  font-size: 25px;
  color: #311f09;
  line-height: normal;
}

/*? PAYMENT-SECTION */

.payment-section {
  width: 100%;
}

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 60px;
}

.payment-title {
  font-weight: 500;
  font-size: 30px;
  color: #000;
  line-height: normal;
}

.payment-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  width: 100%;
}

.payment-bcc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  background-color: rgb(208, 204, 199, 0.1);
  border-radius: 20px;
  padding: 28px 55px;
  width: 100%;
}

.pay-title {
  font-weight: 400;
  font-size: 25px;
  color: #311f09;
  line-height: normal;
}

.payment-bcc input[type="radio"] {
  width: 44px;
  height: 44px;
  accent-color: #3fa72f;
}

/** CONF-CHECK */

.conf-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 133px;
}

.confir-check {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 86px;
  /* 
  color: #311f09;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; */
}

/*  */

.form-confi {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  padding-left: 60px;
  /* cursor: pointer; */

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.confi-text {
  font-weight: 400;
  font-size: 30px;
  line-height: normal;
}

.confi-link {
  color: #311f09;
  text-decoration: none;
}

/* Hide the browser's default checkbox */
.form-confi input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form-confi .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: 44px;
  background-color: #311f09;
  cursor: pointer;
  border-radius: 10px;
}

/* .form-confi:hover input ~ .checkmark {
  background-color: #311F09;
} */

/* .form-confi input:checked ~ .checkmark {
  background-color: rgb(49, 31, 9, 0.9);
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-confi input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-confi .checkmark:after {
  left: 18px;
  top: 10px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-radius: 2px;
  border-width: 0 2px 2px 0;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.conf-bttn {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  line-height: 33px; /* 33px */

  padding: 34px 190px;
  border-radius: 20px;
  background-color: #ff8a00;
}

.conf-bttn:hover,
.conf-bttn:active {
  background-color: rgb(255, 138, 0, 0.85);
  transition: 250ms ease;
}
/**===================*/
/*? MODAL */
/**===================*/

.backdrop-shipping {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgb(92, 69, 41, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  overflow: auto;
}

/* .backdrop.active {
  display: flex;
} */

/* .no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
} */

.modal-shipping {
  position: absolute;

  width: 1112px;
  height: 1340px;

  top: 20%;

  right: -3%;
  padding: 60px;

  background-color: #fff;
  transform: translate(-30%, 0) scale(1);
  z-index: 666;
  overflow: auto;
}

/*? BTN-SHIPPING */

.logo-reserv {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 18px;
}

.btt-close-shipping {
  font-size: 40px;
}

.btt-shipping {
  position: absolute;
  top: 20px;
  right: 80px;

  width: 80px;
  height: 80px;
  padding: 18px;
  border-radius: 50%;

  background-color: #fff;

  cursor: pointer;
  z-index: 666;
}

.reserv-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 88px;
}

.btn-reserv {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.link-in {
  background-color: rgb(255, 138, 0);
  padding: 15px 32px;
  border-radius: 133px;
}

.link-in:hover,
.link-in:active {
  background-color: rgb(255, 138, 0, 0.8);
  transition: 250ms ease;
}

.sign-link {
  color: #fff;
  font-family: "Poppins", system-ui;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.link-up {
  background-color: rgb(63, 167, 47);
  padding: 15px 32px;
  border-radius: 133px;
}

.link-up:hover,
.link-up:active {
  background-color: rgb(63, 167, 47, 0.8);
  transition: 250ms ease;
}

.btn-up {
  color: #fff;
  font-family: "Poppins", system-ui;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/*? REGISRTR-FORM-ADDRESS*/

.shipping-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shipping-title {
  margin-bottom: 90px;
  width: 100%;
}

.shipping-header {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 30px;

  color: #000;
  line-height: 110%; /* 33px */
}

.shipping-field {
  width: 100%;
}

.shipping-form-address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.shipping-input::placeholder {
  font-weight: 400;
  font-size: 25px;
  color: #a0978c;
  line-height: 27.5px; /* 27.5px */

  /* padding-left: 50px; */
}

.shipping-input {
  display: block;
  outline: none;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 25px;

  line-height: 27.5px;
  color: #311f09;

  border-radius: 20px;
  padding-left: 50px;
  width: 100%;
  height: 100px;
  background-color: rgba(208, 204, 199, 0.1);
}

.shipping-btn {
  font-weight: 400;
  font-size: 25px;

  color: #fff;
  border-radius: 20px;
  line-height: 38.25px; /* 38.25px */
  padding: 31px 57px;
  background-color: rgba(116, 159, 224, 1);
}

.registr-btn:hover,
.registr-btn:active {
  background-color: rgba(116, 159, 224, 0.85);
  transition: 250ms ease;
}

/*? LOCATION MSG*/

.location-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 28px;
  width: 90%;
  margin-top: 70px;
}

.location-icon {
}

.location-msg {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 25px;

  color: #ff3838;
  line-height: normal;
}
