.header {
  width: 50%;
}

.form-sign-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-sign-up {
}

.box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 110px;
}

.sign-up-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 17px;
  width: 100%;
  margin-bottom: 50px;
}

.login-title {
  font-weight: 700;
  font-size: 40px;
  color: #311f09;
  line-height: normal;
}

.login-text {
  font-weight: 400;
  font-size: 14px;

  color: #5c4529;
  line-height: 28px; /* 28px */
}

.login-link {
  font-weight: 500;
  color: #0094ff;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
}

.form-login input {
  display: block;
  outline: none;

  font-weight: 400;
  font-size: 25px;
  color: #311f09;

  width: 415px;
  height: auto;
  background-color: rgba(208, 204, 199, 0.2);
  border-radius: 20px;
  line-height: 27.5px;
  padding-left: 80px;
  width: 100%;
}

.login-email {
}

.login-password {
}

.login-check {
}

.login-check-box {
}

.checkbox-link {
}

.login-submit {
}

.google-submit {
}

.img-login-form {
}

.form-img {
}
