.header {
  width: 50%;
}

.form-sign-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-sign-up {
}

.box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 110px;
}

.sign-up-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 17px;
  width: 100%;
}

.login-title {
  font-weight: 700;
  font-size: 40px;
  color: #311f09;
  line-height: normal;
}

.ligont-text {
}

.login-login {
}

.login-email {
}

.login-password {
}

.login-check {
}

.login-check-box {
}

.checkbox-link {
}

.login-submit {
}

.google-submit {
}

.img-login-form {
}

.form-img {
}
