@media screen and (max-width: 425px) {
  .container {
    max-width: 95%;
  }

  /**===========================*/
  /*! NAV-BAR */
  /**===========================*/

  .nav-list {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
