/*******************************/
/*! POPULAR-MENU */
/*******************************/

.menu-section {
  padding: 200px 0;
}

.order-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(30% - 60px); /* (30%)300px - 60px = 240px. */
  padding: 20px 20px;
  background-color: rgba(208, 204, 199, 0.1);
  border-radius: 50px;
  /* min-width: 220px; */
  width: 220px;
}

.menu-cart:hover,
.menu-cart:active {
  background: rgba(255, 138, 0, 1);
  transition: 250ms ease-in-out;
}

.menu-cart:hover .gallery-btn {
  color: #ff8a00;
  background-color: #fff;
  transition: 250ms ease-in;
}

.menu-cart:hover .gall-title {
  color: #fff;
  transition: 250ms ease;
}

.menu-cart:hover .gall-text {
  color: #fff;
  transition: 250ms ease;
}

.menu-cart:hover .price-gallery {
  color: #fff;
  transition: 250ms ease;
}

.menu-cart:hover .star {
  color: #fff;
  transition: 250ms ease;
}

.menu-cart:hover .icon-star-solid {
  color: rgba(49, 31, 9, 1);
  transition: 250ms ease;
}

.order-title {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-size: 80px;
  color: var(--title-color);

  margin-bottom: 90px;
}

.order-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
  margin-bottom: 60px;
}

.order-items {
  display: block;
  padding: 17px 60px;
  border-radius: 50px;
  background-color: rgb(208, 204, 199, 0.1);
  margin-right: 27px;
  box-sizing: border-box;
  /* min-width: 100px; */
}

.order-link {
  display: block;
}

.order-items:hover {
  background-color: rgb(49, 31, 9);
  transition: background-color 0.5s ease;
}

.order-link:hover {
  font-weight: 600;
  color: #fff;
}

.order-items,
.order-link:last-child {
  margin-right: 0;
}

.order-link {
  /* font-family: "Poppins", system-ui; */
  font-size: 20px;
  font-weight: 400;
  color: var(--link-color);
  line-height: 40px; /* 40px */
}

/*? GALLERY */

.gall-title-box {
  margin-bottom: 60px;
}

.gallery-element {
  position: relative;

  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 30px;
  color: #000;

  text-transform: uppercase;
}

.gallery-element::after {
  content: "";
  position: absolute;
  display: block;
  width: 130px;
  height: 2px;
  left: 0;
  bottom: -10px;
  background: orange;
}

.order-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 0px;
}

.menu-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.order-img {
  width: 174px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 14px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gall-title {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 20px;
  color: #000;
  line-height: 40px;
}

.order-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 14px;
  margin-top: 5px;
  font-size: 15px;
  color: rgba(255, 138, 0, 1);
}

.gall-text {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-menu-color);
  line-height: normal;
  text-align: center;
  min-width: 170px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price-order {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.price-gallery {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.gallery-btn {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: rgba(255, 138, 0, 1);
  padding: 9px 19px;
  border-radius: 50px;
}

/* PAGINATON */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 30px;
}

.btn {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgba(49, 31, 9, 1);
}

.btn i {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-size: 40px;
  font-weight: 300;
  color: #fff;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 16px;
  width: 55px;
  height: 55px;
  color: #ff8a00;
  background-color: rgba(255, 138, 0, 0.1);
  border-radius: 15px;
}

.dots {
  color: #b7a28b;
}

.butt-right {
  transform: rotate(180deg);
}

/*!======== CHECK-BAR ===========*/

.aside-check-bar {
  height: 100%;
}

.check-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #fff;
  box-shadow: 0px 4px 29px rgb(108, 149, 158, 0.4);
  border-radius: 20px;
  height: 100%;
  width: 343px;
}

.btn-list {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 30px;
  color: #fff;

  background-color: #512982;
  padding: 27px 82px;
  border-radius: 20px;
  margin: 20px 0 60px 0;
}

.check-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0 20px 0 20px;
}

.name-goods {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.check-title {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;
  color: #000;
  line-height: 50px; /* 50px */
}

.name-goods > i {
  font-size: 24px;
  color: rgba(255, 56, 56, 1);
}

.price-goods {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 30px 0 60px 0;
  width: 100%;
}
.quantity-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafaf9;
  gap: 20px;
  width: 45%;
  border-radius: 50px 50px;
}
.minus {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  color: rgb(255, 56, 56);
  border: 1px solid #333;
  box-shadow: 4px 4px 5px rgb(255, 79, 79, 0.07);
  background-color: #fff;
  border-radius: 50%;
  padding: 10px 12px;
  width: 100%;
}

.number-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  color: #000;
  font-family: Poppins;
  font-size: 16.62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.plus {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  color: #3fc66e;
  border: 1px solid #333;

  background-color: #fff;
  border-radius: 50%;
  padding: 10px 17px;
  box-shadow: 4px 4px 5px rgb(63, 198, 110, 0.07);
  /* width: 100%; */
}
.price-box {
}
.price-quantity {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 25px;
  color: #ff8a00;
  line-height: 50px; /* 50px */
}

/*!======== VOUCHER-SECTION ===========*/

.voucher-section {
  border-top: 2px dashed #d0ccc7;
  border-bottom: 2px dashed #d0ccc7;
  height: auto;
  width: 100%;
  padding: 25px 0 25px 0;
  /* margin-top: 50px; */
}

.voucher-title {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;
  color: #000;
  line-height: normal;
  padding-left: 30px;
  margin-bottom: 35px;
}

.icon-voucher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.icon-voucher i {
  font-size: 25px;
  font-weight: 200;
  color: #fff;
  background-color: rgba(83, 165, 224, 1);
  padding: 20px;
  border-radius: 15px;
}

.voucher-subtitle {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;
  color: #0875c3;
  line-height: normal;
  text-transform: uppercase;
}

/*? btn-checkout */

.btn-checkout {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  line-height: 50px; /* 50px */
  padding: 5px 80px;

  border-radius: 15px;
  background: #3fc66e;
  margin: 70px 0 50px 0;
}

/*!======== PSZZA-SECTION ===========*/

.checkout-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;

  width: 100%;
  padding: 0 20px 0 20px;
  margin-top: 45px;
}

.total-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.total-title {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;
  color: #000;
  line-height: normal;
}

.checkout-price {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 25px;
  color: #ff8a00;
  line-height: 50px; /* 50px */
}

/*!======== PSZZA-SECTION ===========*/

.pizza-section {
  padding: 200px 0;
}

.gallery-title {
  position: relative;

  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 30px;
  color: #000;

  text-transform: uppercase;
}

.gallery-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 130px;
  height: 2px;
  left: 0;
  bottom: -10px;
  background: orange;
}


/*!======== PSZZA-SECTION ===========*/
