.booking-container {
  padding: 120px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box {
  position: relative;
  width: 100%;
}

.img-reserv {
  position: relative;
  top: 0;
  left: -120px;
  border: 80px solid rgba(208, 204, 199, 0.1);
  border-radius: 0% 50% 50% 0%;
}

.border {
  background-color: rgba(208, 204, 199, 0.2);
  padding: 69px;
  border-radius: 0% 50% 50% 0%;
  min-width: 660px;
  height: 100%;
}

.image-reserv {
  object-fit: cover;
  width: 526px;
  height: 526px;
  border-radius: 50%;
}

/**======================*/
/*! FORM-BOOK-TABLE */
/**======================*/

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* outline: 1px solid red; */
}

.form-title {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-size: 80px;
  color: var(--title-color);
  line-height: 88px; /* 88px */
  margin-bottom: 50px;
}

.form-check-box {
}

#form-check {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#form-check label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 57px 0 50px;

  width: 475px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(208, 204, 199, 0.1);
}

#form-check select {
  outline: none;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px; /* 22px */
  color: var(--text-color-form);
  width: 100%;
  height: auto;
  background: transparent;
}

#data-calendar {
  outline: none;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px; /* 22px */
  color: var(--text-color-form);
}

/* #quantity {
  width: 260px;
  padding: 10px;
  font-size: 16px;
  height: 40px;
  background: transparent;
} */

#regstr-submit {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  line-height: 27.5px; /* 27.5px */

  /* width: 475px; */
  height: 100px;
  border-radius: 20px;
  background-color: rgba(255, 138, 0, 1);
  cursor: pointer;
}

#regstr-submit:hover,
#regstr-submit:active {
  background-color: rgba(255, 138, 0, 0.8);
  transition: 250ms ease;
}

/**======================*/
/*! MODAL-RESERVATION*/
/**======================*/

/*? MODAL */

.backdrop {
  display: none;
  /* display: flex; */
  align-items: flex-start;
  justify-content: center;
  pointer-events: auto;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(92, 69, 41, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop.active {
  display: flex; /* Відображається при відкритті */
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;

  width: 95%;
  height: 95%;
  width: 1112px;

  top: 50%;
  left: 50%;
  padding: 60px;

  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 666;
  overflow: auto;
  flex-grow: 1;
}
.btt-close {
  font-size: 40px;
}

.btt-regstr {
  position: absolute;
  top: 20px;
  right: 80px;

  width: 80px;
  height: 80px;
  padding: 18px;
  border-radius: 50%;

  background-color: #fff;

  cursor: pointer;
  z-index: 666;
}

/**======================*/
/*! FORM-BOOK-TABLE */
/**======================*/


.reserv-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 88px;
}

.btn-reserv {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.link-in {
  background-color: rgb(255, 138, 0);
  padding: 15px 32px;
  border-radius: 133px;
}

.link-in:hover,
.link-in:active {
  background-color: rgb(255, 138, 0, 0.8);
  transition: 250ms ease;
}

.sign-link {
  color: #fff;
  font-family: "Poppins", system-ui;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.link-up {
  background-color: rgb(63, 167, 47);
  padding: 15px 32px;
  border-radius: 133px;
}

.link-up:hover,
.link-up:active {
  background-color: rgb(63, 167, 47, 0.8);
  transition: 250ms ease;
}

.btn-up {
  color: #fff;
  font-family: "Poppins", system-ui;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/**======================*/
/*! RESERVATION-DATA */
/**======================*/

.reserv-title {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-size: 80px;

  color: #311f09;
  text-align: center;
  line-height: 92px; /* 92px */

  margin-bottom: 53px;
}

.reserv-box-info {
  padding: 51px 0;
  background-color: rgb(138, 234, 255, 0.4);
  border-radius: 20px;
  width: 100%;

  margin-bottom: 62px;
}

.reserv-subtitle {
  text-align: center;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;

  color: #5c4529;
  line-height: 22px; /* 22px */
}

.info-element {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 20px;
  color: #311f09;
  line-height: 22px;
}

.reserv-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 40px;
}

.data-info {
  min-width: 523px;
  height: 100%;
}

.data-title {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;

  color: #000;
  line-height: normal;
  
  margin-bottom: 40px;
}

.form-reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 40px;
}

#name-reserv,
#reserv-phone-input,
#email-reserv {
  display: block;
  outline: none;

  font-weight: 400;
  font-size: 18px;
  color: #311f09;
  line-height: 22px;

  width: 100%;
  height: 100px;

  background-color: rgba(208, 204, 199, 0.2);
  border-radius: 20px;
  padding-left: 50px;
}

#name-reserv::placeholder,
#name-reserv::placeholder,
#email-reserv::placeholder {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;

  color: #a0978c;
  line-height: 22px; /* 22px */
}

.phone-reserv-data {
  position: relative;
  width: 100%;
}

#reserv-tel-code {
  position: absolute;
  display: block;
  outline: none;

  left: 15px;
  top: 25px;

  font-size: 25px;
  color: #311f09;
  line-height: 22px;

  background-color: #fff;
  padding: 11px 0 11px 20px;
  width: 150px;
}

#reserv-phone-input {
  font-weight: 400;
  font-size: 18px;

  color: #311f09;
  line-height: 22px; /* 22px */
  padding-left: 229px;
}

#reserv-phone-input::placeholder {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;

  color: #a0978c;
  line-height: 22px; /* 22px */
}

.accasion-box {
  position: relative;
  width: 100%;

  width: 100%;
  height: 100px;

  background-color: rgba(208, 204, 199, 0.2);
  border-radius: 20px;
  padding-left: 50px;
}

#reserv-accasion {
  position: absolute;
  display: block;
  outline: none;

  top: 38px;
  right: 68px;

  color: #a0978c;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  width: 410px;
  background-color: transparent;
}

.order-submit {
}

.order-input {
}

#reserv-message {
  width: 523px;
  height: 325px;

  resize: none;
  outline: none;

  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 16px;
  color: #311f09;
  line-height: 22px; /* 22px */

  background-color: rgba(208, 204, 199, 0.2);
  border-radius: 20px;

  padding: 40px 50px;
  margin-bottom: 69px;
}

#reserv-message::placeholder {
  font-family: "Poppins", system-ui;
  color: #a0978c;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px; /* 22px */
}

.radio-chek-reserv {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 20px;
  width: 100%;
}

#order-now {
  width: 44px;
  height: 44px;
  accent-color: #3fa72f;
}

.options-order {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  /* width: 100%; */
}

.checkbox-title-reserv {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;

  color: #5c4529;
  line-height: normal;
}

.reserv-data-btn {
  width: 100%;
  height: auto;
}

#submit-reserv {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 25px;

  color: #fff;
  line-height: 27.5px; /* 27.5px */
  background-color: rgba(255, 138, 0, 1);
  border-radius: 20px;

  padding: 36px 0;
  width: 100%;
}

#submit-reserv:hover,
#submit-reserv:active {
  background-color: rgba(255, 138, 0, 0.8);
  transition: 250ms ease;
}

/*? RESERV-INFO */

.calender-icon {
  fill: #311f09;
  width: 35px;
  height: 35px;
}

.reserv-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 50px;
}

.reserv-info-box {
  background-color: rgba(208, 204, 199, 0.2);
  width: 429px;

  border-radius: 20px;
  padding: 35px;
}

.data-reserv-title {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;

  color: #311f09;
  line-height: normal;
  margin-bottom: 46px;
}

.reserv-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 25px;
}

.reserv-list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 36px;
}

.list-info {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;

  color: #5c4529;
  line-height: 22px; /* 22px */
}

.block-information {
  height: auto;
  width: 407px;
}

.inf-title {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 25px;

  color: #000;
  line-height: normal;
  margin-bottom: 40px;
}

.inf-description {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;

  color: #5c4529;
  line-height: normal;
  margin-bottom: 25px;
}

.inf-desc {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 20px;

  color: #5c4529;
  line-height: normal;
}
